{% extends "layout.html" %}
{% block content %}
    <div class="margin">
        <div class="plaintext">Here you can register.</div>
        <br>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="turqtext">
                    {{ form.uname.label }}
                    {{ form.uname(size=30) }}
                    {% for error in form.uname.errors %}
                        <span class="errortext">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="turqtext">
                    {{ form.email.label }}
                    {{ form.email(size=30) }}
                    {% for error in form.email.errors %}
                        <span class="errortext">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="turqtext">
                    {{ form.password.label }}
                    {{ form.password(size=30) }}
                    {% for error in form.password.errors %}
                        <span class="errortext">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="turqtext">
                    {{ form.password_conf.label }}
                    {{ form.password_conf(size=30) }}
                    {% for error in form.password_conf.errors %}
                        <span class="errortext">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="margin">
                {{ form.submit(class="button") }}
            </div>
        </form>
    </div>
{% endblock %}